.category {
  h1 {
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
  }
}

@include mobile-up {
  .category {
    h1 {
      font-size: 50px;
    }
  }
}
