
#root {
    height: 100%;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background-color: $bgGrey !important;
    font-family: $font !important;
    color: $defaultBlack !important;
    scroll-behavior: smooth;
    height: 100%;

    @include mobile-up {
        background-color: $defaultWhite !important;
        margin: 75px 15px 0 15px !important;

    }
}

.app {

    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .upperCaseFirstAll {
        text-transform: capitalize !important;
    }

    .upperCaseAll {
        text-transform: uppercase !important;
    }

    .lowerCaseAll {
        text-transform: lowercase !important;
    }

    .centerItem {
        margin: 0 auto !important;
    }

    .hide {
        display: none !important;
    }

    .paragraphColor {
        color: $paragraphColor !important;
    }

    .justifyText {
        text-align: justify;
    }

    ::selection {
        color: $defaultBlack;
        background: $highlightGreen;
    }

}