
.app {

    font-family: $font;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;

    .upperCaseFirstAll {
        text-transform: capitalize !important;
    }

    .upperCaseAll {
        text-transform: uppercase !important;
    }

    .lowerCaseAll {
        text-transform: lowercase !important;
    }

    .centerItem {
        margin: 0 auto !important;
    }

    .hide {
        display: none !important;
    }

    ::selection {
        color: $default-black;
        background: $highlight-green;
    }

}