// Material UI Overrides

// === all text ===
.MuiTypography-body1, .MuiMenuItem-root, .MuiFormLabel-root, .MuiInputBase-root {
    font-family: $font !important;
}

// === navbar links ===
.MuiPaper-root {
    a.linkWithNoDecoration {
        color: $dimBlack !important;
        text-decoration: none !important;
    }
}

// === floating button ===
.MuiFab-root {
    background-color: $mainGreen !important;
}

// === contact form ===
.MuiFormLabel-asterisk, .MuiInputLabel-asterisk {
    display: none !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid $mainGreen !important;
}

.MuiInputLabel-root.Mui-focused {
    color: $mainGreen !important;
}

.MuiInputBase-root.Mui-focused fieldset {
    border-color: $mainGreen !important;
}

// === button ===
// primary option
.MuiButton-containedPrimary {
    background-color: $mainGreen !important;
}

.MuiButton-containedPrimary:hover {
    color: $defaultBlack !important;
}