.socials {

    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;

    .buttons {
        height: 100%;
        width: 100%;
        bottom: 0;
    }

 
}