.tags {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  margin: 0 16px 8px -5px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;

  .tag {
    font-size: 10px;
    grid-row: 1;
    grid-column: 0;
    margin-left: 5px;
    border-radius: 3px;
    padding: 0 4px 0 4px;
  }
}
