.blog {
  padding-bottom: 50px;
  h1 {
    font-family: $titleFont;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;

    .icon {
      vertical-align: middle;
      font-size: 20px;
    }
  }
}

@include mobile-up {
  .blog {
    h1 {
      margin: 40px 0;
      font-size: 30px;
    }
  }
}
