.life {
  table {
    width: 90%;
    font-size: 25px;
    line-height: 60px;

    tr {
      color: $listItemColor;

      &:hover {
        background: $highlightGrey;

        .icon-bullet {
          color: $defaultBlack;
        }
      }

      th {
        text-align: left;
      }
    }
  }
}
