.media {

    @include desktop-and-tablet-portrait-up {
        .mediaItems {
            margin-top: 30px;
            margin-bottom: 100px;
        }
    }

    @include mobile-up {
        img {
            margin-top: 30px;
        }
    }
}