@mixin mobile-up {
    @media only screen and (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
    @media only screen and (min-width: 600px) { @content; }
}
@mixin tablet-landscape-up {
    @media only screen and (min-width: 900px) { @content; }
}
@mixin desktop-up {
    @media only screen and (min-width: 868px) { @content; }
}
@mixin big-desktop-up {
    @media only screen and (min-width: 1800px) { @content; }
}

// combined mixins
@mixin desktop-and-tablet-portrait-up {
    @media only screen and (min-width: 600px) { @content; }
}

// device specific
@mixin iphone-6-7-8-plus {
    @media (min-width: 414px) and (max-width: 414px) and (min-height: 736px) and (max-height: 736px) { @content; }
}
//  OR
//  the media quiery above can be transformed into:
$widths: (
    iphone6-7-8-plus: 414px,
    pixel2: 411px,
    pixel2xl: 411px,
    galaxys5: 360px,
    galaxys8: 360px,
    huaweip20: 360px,
    laptophidpi: 1440px
);

$heights: (
    iphone6-7-8-plus: 736px,
    pixel2: 731px,
    pixel2xl: 823px,
    galaxys5: 640px,
    galaxys8: 740px,
    huaweip20: 748px,
    laptophidpi: 900px
);

@mixin custom-mobile-viewports {
    @each $key in (iphone6-7-8-plus,pixel2,pixel2xl,galaxys5,galaxys8,huaweip20,laptophidpi) {
        @media 
            (min-width: map-get($widths, $key)) and 
            (max-width: map-get($widths, $key)) and 
            (min-height: map-get($heights, $key)) and 
            (max-height: map-get($heights, $key))
        { @content; }
    }
}