// global variables

// colors
$mainGreen: #43C6AC;
$paragraphColor: #4A4A4A;
$customDarkGrey: #363732;
$customDarkBlue: #152038;
$highlightGreen: rgba(67, 198, 172, 0.678);
$highlightLink: rgba(67,198,172, 0.3);
$bgGrey: #E9EDEE;
$bgWhite: #F4F7FA;
$bgBlue: #3F4D67;
$dimBlack: rgba(0, 0, 0, 0.87);
$defaultBlack: #000;
$defaultWhite: #FFF;

// theme
$font: 'Quicksand','sans-serif';
$titleFont: 'Josefin Sans', 'sans-serif';
$drawerWidth: 250px;

// custom exports
:export { 
    drawerWidth: $drawerWidth; 
}