.moreinfobuttons {
  text-align: center;
  margin-top: 15px;

  .btn {
    font-family: $titleFont !important;
    margin: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    height: 40px;
    font-family: Sans-Serif;
  }

  .mui-design {
    color: $defaultBlack;
    height: auto;
    width: inherit;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.199);
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
  }

  .mui-design:hover {
    box-shadow: 9px 9px rgba(66, 66, 66, 0.26);
  }

  .mui-design:active {
    transform: translate3d(0px, 2px, 0px);
    box-shadow: 2px 2px rgba(66, 66, 66, 0.26);
  }
}

@include mobile-up {
  .moreinfobuttons {
    display: none;
  }
}
