.videoplayer {
    
    .frame {
        width: 100%;
        height: 450px;
        max-height: 450px;

        .player-info {
            word-break: break-all;
    
            p {
                color: rgba(0, 0, 0, .5);
                margin-top: -20px;
            }
        }

        .player {
            margin-bottom: 10px;
            background: rgba(0, 0, 0, .08);
        }

        .fb_iframe_widget_fluid_desktop iframe {
            height: 450px !important;
        }

        .gray-text {
            color: rgba(0, 0, 0, .5);
        }
    }

    .thumbnails {
        padding-top: 45px;
        margin-bottom: 25px;

        .thumb-title {
            margin: -2px 40px 15px 40px;
        }
    }
   
    .player-controls {
        margin-top: 100px;
        text-align: center;

        .controls-btn {
            border: none;
            margin: 0;
            padding: 0;
            background: $defaultWhite;
        }

        .controls-icon {
            font-size: 45px;

        }
    }

    @include mobile-up {
        .frame {
            height: 270px;

            .player {
                height: 70% !important;
            }
        }

        .thumbnails {
            margin-top: -70px;
        }
    }
}