@include mobile-up {
   
    .floatinghamburger {

        display: inherit;
        
        .topchapeau {
            font-size: 25px;
            font-family: $titleFont;
            font-weight: bold;
            transition: transform 250ms ease-out;
        }

        .topchapeau.open {
            transition: transform 250ms ease-out;
            transform: translate(12px, 0);
        }
        .bottomchapeau.open {
            transition: transform 250ms ease-out;
            transform: translate(-12px, 0);
        }
    
        .bottomchapeau {
            font-size: 25px;
            font-family: $titleFont;
            font-weight: bold;
            transition: transform 250ms ease-out;
        }

    }
    
}

@include desktop-and-tablet-portrait-up {
    .floatinghamburger {
        display: none;
    }
}