@include mobile-up {
   
    .floatinghamburger {

        display: inherit;

        .leftchapeau {
            font-size: 25px;
            font-family: $titleFont;
            font-weight: bold;
            transition: transform 250ms ease-out;
            margin-right: 3px;
        }

        .leftchapeau.open {
            transition: transform 250ms ease-out;
            transform: translate(16px, 0);
        }
        .rightchapeau.open {
            transition: transform 250ms ease-out;
            transform: translate(-16px, 0);
        }
    
        .rightchapeau {
            font-size: 25px;
            font-family: $titleFont;
            font-weight: bold;
            transition: transform 250ms ease-out;
            margin-left: 3px;
        }

    }
    
}

@include desktop-and-tablet-portrait-up {
    .floatinghamburger {
        display: none;
    }
}