// global variables

// colors
$mainGreen: #43c6ac;
$paragraphColor: #4a4a4a;
$customDarkGrey: #363732;
$customDarkBlue: radial-gradient(
  ellipse at bottom,
  rgb(24, 35, 48) 0%,
  rgb(14, 16, 24) 100%
);
$highlightColor: rgba(67, 198, 172, 0);
$highlightGreen: rgba(67, 198, 172, 0.678);
$highlightGrey: rgb(247, 247, 247);
$highlightLink: rgba(67, 198, 172, 0.3);
$linkColor: #3273dc;
$listItemColor: #363636;
$bgGrey: #e9edee;
$bgWhite: #f4f7fa;
$bgBlue: #3f4d67;
$dimBlack: rgba(0, 0, 0, 0.87);
$defaultBlack: #000;
$defaultWhite: #fff;

// theme
$font: 'Quicksand', 'sans-serif';
$titleFont: 'Josefin Sans', 'sans-serif';
$blogTitleFont: 'Staatliches';
$drawerWidth: 250px;

// custom exports
:export {
  drawerWidth: $drawerWidth;
}
