.customcard {

    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
    position: relative;

    .card {
        height: 362px;
    }

    .featuredImage {
        padding-top: 56.25%;
        position: relative;
    }

    .title {
        font-weight: bold;
    }

    .description {
        line-height: 1.5;
    }

    .cardActions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px 0 16px;
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    .date {
        margin-left: -1px !important; 
        color: #3f51b5;
    }

    .favoriteIcon:hover {
        color: #ff1744;
    }

    .linkSharpIcon:hover {
        color: $defaultBlack;
    }

    @include custom-mobile-viewports {
        .card {
            height: 385px;
        }
    }

}

.customcard:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);
}

.featuredImage:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 32px solid #ffffff;
    border-left: 700px solid transparent;
}