.filterbuttons {

    text-align: center;
    display: flex;

    .filterButton {
        background-color: inherit;
        border-radius: 0px;
        flex-grow: 1;
    }
    
}

@include mobile-up {
    .filterbuttons {
        display: inherit;
    }
}