.timeline {
    margin: 56px auto;
    position: relative;
    max-width: 600px;
    
    .timeline-item {
        position: relative;
        list-style: none;
        border-left: 2px solid $mainGreen;
        padding-bottom: 25px;

        // &:hover {
        //     .timeline-icon {
        //         background-color: black;
        //     }
        //     .timeline-date {
        //         background-color: black;
        //         color: white;
        //     }
        // }

        .timeline-content {
            margin-left: 25px;
        }
        
        .timeline-icon {
            border-radius: 15px;
            background: $mainGreen;
            cursor: pointer;
            outline: 10px solid white;
            display: flex;
            margin: 6px 0 8px -14px;
            position: absolute;
            width: 25px;
            height: 25px;

            .timeline-fa {
                font-size: 14px;
                margin: 6px auto;
                color: white;
            }
        }

        .timeline-date {
            transition: box-shadow 0.5s ease-in 0.1s;
            color: black;
            font-size: 12px;
            background-color: $highlightGreen;
            margin: 8px 0 5.5px 0;
            display: inline-block;
            padding: 2.5px 10px 2px 10px;
        }

        .timeline-name {
            font-size: 20px;
            font-family: $titleFont;
            margin-top: 7px;
            color: $mainGreen;
        }

        .timeline-location {
            margin-top: -20px;
            color: rgb(19, 158, 130);
        }

        .timeline-role {
            margin-top: -2px;
            font-weight: bold;
            font-size: 16px;
        }
        
        .timeline-brief-desc {
            margin-top: -10px;
        }
    }
}
