.typewriter {

    color: $defaultWhite;
    font-family: $titleFont !important;
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 10%;

    .dynamicText {
        position: relative;

        &:after {
            content: '|';
            position: absolute;
            left: calc(100%);
        }

        & {
            &:after {
                animation: cursorFade 1s infinite ease-in-out;
            }
        }
    }

    .staticText {
        font-size: 50px;
    }
      
    @keyframes cursorFade {

        0%, 100% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }
    }
}

@include mobile-up {
    .typewriter {
        font-size: 20px;
        color: $defaultBlack;

        .staticText {
            font-size: 30px;
        }
        
    }
}