.typewriter {

    font-size: 30px;
    color: #363732;
    font-family: $titleFont !important;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

    .dynamicText {
        position: relative;

        &:after {
            content: '|';
            position: absolute;
            left: calc(100%);
        }

        & {
            &:after {
                animation: cursorFade 1s infinite ease-in-out;
            }
        }
    }
      
    @keyframes cursorFade {

        0%, 100% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }
    }
}

@include mobile-up {
    .typewriter {
        font-size: 30px;
        left: 50%;
        top: 20%;
        transform: translate(-50%,-50%);
    }
}