.description {

    color: $paragraphColor;
    
    a {
        text-decoration: none;
        color: inherit;
    }

    .info {
        font-size: 16px;
        line-height: 1.8;
    }

    // for the ToggleButton component
    .btn {
        padding: inherit;
        color: $paragraphColor;
        margin-top: -2px;
        margin-left: -6px;
    }
}