.usefuldata {
    margin-bottom: 50px;

    .btn {
        display: flex;
        margin: 0 auto;
    }

    .dataItems {
        padding-top: 20px;
    }

    .useful-desc {
        display: grid;

        span:hover {
            background: $highlightGrey;
        }
    }
}
